@media screen and (max-width: 1440px) {
    .dziritadi_excel,
    #parent_main,
    #dziritadi1,
    #dziritadi2,
    #dziritadi3,
    #dziritadi4,
    #dziritadi5,
    #dziritadi6,
    #dziritadi7,
    #dziritadi8,
    #dziritadi9,
    #dziritadi10,
    #dziritadi11,
    #dziritadi12,
    #dziritadi13,
    #dziritadi14,
    #dziritadi15,
    #dziritadi16,
    #dziritadi17,
    #dziritadi18,
    #dziritadi19,
    #dziritadi20,
    #dziritadi21,
    #dziritadi22,
    #dziritadi31,
    #dziritadi32,
    #dziritadi33,
    #dziritadi34,
    #dziritadi35,
    #dziritadi36,
    #dziritadiMain,
    #dziritadiMain2,
    #dziritadiMainMunic,
    #dziritadiMainMunic2,
    #dziritadiMainMunic3,
    #dziritadi2_1,
    #dziritadi2_2,
    #dziritadi2_3,
    #dziritadi2_4,
    #dziritadi2_5,
    #dziritadi2_6,
    #dziritadi2_7,
    #dziritadi2_8,
    #dziritadi2_9,
    #dziritadi2_10,
    #dziritadi2_11,
    #dziritadi2_12,
    #dziritadi2_13,
    #dziritadi2_14,
    #dziritadi2_15,
    #dziritadi2_16,
    #dziritadi2_17,
    #dziritadi2_18,
    #dziritadi2_19,
    #dziritadi2_20,
    #dziritadi2_21,
    #dziritadi2_22,
    #dziritadi2_31,
    #dziritadi2_32,
    #dziritadi2_33,
    #dziritadi2_34,
    #dziritadi2_35,
    #dziritadi2_36,
    .informacia,
    .informacia1,
    .informacia2,
    .informacia3,
    .informacia4,
    .informacia5,
    .informacia6,
    .informacia7,
    .informacia8,
    .informacia9,
    .informacia10,
    .informacia11,
    .informacia12,
    .informacia13,
    .informacia14,
    .informacia15,
    .informacia16,
    .informacia17,
    .informacia18,
    .informacia19,
    .informacia20,
    .informacia21,
    .informacia22,
    .informacia31,
    .informacia32,
    .informacia33,
    .informacia34,
    .informacia35,
    .informacia36,
    .informaciaMain {
        width: 260px;
    }
}
@media screen and (max-width: 1366px) {
    .dziritadi_excel,
    #parent_main,
    #dziritadi1,
    #dziritadi2,
    #dziritadi3,
    #dziritadi4,
    #dziritadi5,
    #dziritadi6,
    #dziritadi7,
    #dziritadi8,
    #dziritadi9,
    #dziritadi10,
    #dziritadi11,
    #dziritadi12,
    #dziritadi13,
    #dziritadi14,
    #dziritadi15,
    #dziritadi16,
    #dziritadi17,
    #dziritadi18,
    #dziritadi19,
    #dziritadi20,
    #dziritadi21,
    #dziritadi22,
    #dziritadi31,
    #dziritadi32,
    #dziritadi33,
    #dziritadi34,
    #dziritadi35,
    #dziritadi36,
    #dziritadiMain,
    #dziritadiMain2,
    #dziritadiMainMunic,
    #dziritadiMainMunic2,
    #dziritadiMainMunic3,
    #dziritadi2_1,
    #dziritadi2_2,
    #dziritadi2_3,
    #dziritadi2_4,
    #dziritadi2_5,
    #dziritadi2_6,
    #dziritadi2_7,
    #dziritadi2_8,
    #dziritadi2_9,
    #dziritadi2_10,
    #dziritadi2_11,
    #dziritadi2_12,
    #dziritadi2_13,
    #dziritadi2_14,
    #dziritadi2_15,
    #dziritadi2_16,
    #dziritadi2_17,
    #dziritadi2_18,
    #dziritadi2_19,
    #dziritadi2_20,
    #dziritadi2_21,
    #dziritadi2_22,
    #dziritadi2_31,
    #dziritadi2_32,
    #dziritadi2_33,
    #dziritadi2_34,
    #dziritadi2_35,
    #dziritadi2_36,
    .informacia,
    .informacia1,
    .informacia2,
    .informacia3,
    .informacia4,
    .informacia5,
    .informacia6,
    .informacia7,
    .informacia8,
    .informacia9,
    .informacia10,
    .informacia11,
    .informacia12,
    .informacia13,
    .informacia14,
    .informacia15,
    .informacia16,
    .informacia17,
    .informacia18,
    .informacia19,
    .informacia20,
    .informacia21,
    .informacia22,
    .informacia31,
    .informacia32,
    .informacia33,
    .informacia34,
    .informacia35,
    .informacia36,
    .informaciaMain {
        width: 240px;
    }
}

@media screen and (max-width: 1200px) {
    .sidepanel-title {
        font-size: 1.1em;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .popover-body {
        min-width: 272px;
        min-height: 199px;
        font-size: 0.7em;
        pointer-events: none;
        line-height: 11px;
    }

    .dziritadi_excel,
    #parent_main,
    #dziritadi1,
    #dziritadi2,
    #dziritadi3,
    #dziritadi4,
    #dziritadi5,
    #dziritadi6,
    #dziritadi7,
    #dziritadi8,
    #dziritadi9,
    #dziritadi10,
    #dziritadi11,
    #dziritadi12,
    #dziritadi13,
    #dziritadi14,
    #dziritadi15,
    #dziritadi16,
    #dziritadi17,
    #dziritadi18,
    #dziritadi19,
    #dziritadi20,
    #dziritadi21,
    #dziritadi22,
    #dziritadi31,
    #dziritadi32,
    #dziritadi33,
    #dziritadi34,
    #dziritadi35,
    #dziritadi36,
    #dziritadiMain,
    #dziritadiMain2,
    #dziritadiMainMunic,
    #dziritadiMainMunic2,
    #dziritadiMainMunic3,
    #dziritadi2_1,
    #dziritadi2_2,
    #dziritadi2_3,
    #dziritadi2_4,
    #dziritadi2_5,
    #dziritadi2_6,
    #dziritadi2_7,
    #dziritadi2_8,
    #dziritadi2_9,
    #dziritadi2_10,
    #dziritadi2_11,
    #dziritadi2_12,
    #dziritadi2_13,
    #dziritadi2_14,
    #dziritadi2_15,
    #dziritadi2_16,
    #dziritadi2_17,
    #dziritadi2_18,
    #dziritadi2_19,
    #dziritadi2_20,
    #dziritadi2_21,
    #dziritadi2_22,
    #dziritadi2_31,
    #dziritadi2_32,
    #dziritadi2_33,
    #dziritadi2_34,
    #dziritadi2_35,
    #dziritadi2_36,
    .informacia,
    .informacia1,
    .informacia2,
    .informacia3,
    .informacia4,
    .informacia5,
    .informacia6,
    .informacia7,
    .informacia8,
    .informacia9,
    .informacia10,
    .informacia11,
    .informacia12,
    .informacia13,
    .informacia14,
    .informacia15,
    .informacia16,
    .informacia17,
    .informacia18,
    .informacia19,
    .informacia20,
    .informacia21,
    .informacia22,
    .informacia31,
    .informacia32,
    .informacia33,
    .informacia34,
    .informacia35,
    .informacia36,
    .informaciaMain {
        width: 195px;
    }
}

@media (min-width: 768px) and (max-width: 1050px) {
    .popover-body {
        min-width: 272px;
        min-height: 199px;
        font-size: 0.7em;
        pointer-events: none;
        line-height: 11px;
    }
    #dziritadi1,
    #dziritadi2,
    #dziritadi3,
    #dziritadi4,
    #dziritadi5,
    #dziritadi6,
    #dziritadi7,
    #dziritadi8,
    #dziritadi9,
    #dziritadi10,
    #dziritadi11,
    #dziritadi12,
    #dziritadi13,
    #dziritadi14,
    #dziritadi15,
    #dziritadi16,
    #dziritadi17,
    #dziritadi18,
    #dziritadi19,
    #dziritadi20,
    #dziritadi21,
    #dziritadi22,
    #dziritadi31,
    #dziritadi32,
    #dziritadi33,
    #dziritadi34,
    #dziritadi35,
    #dziritadi36,
    #dziritadiMain,
    #dziritadiMain2,
    #dziritadiMainMunic,
    #dziritadiMainMunic2,
    #dziritadiMainMunic3,
    #dziritadi2_1,
    #dziritadi2_2,
    #dziritadi2_3,
    #dziritadi2_4,
    #dziritadi2_5,
    #dziritadi2_6,
    #dziritadi2_7,
    #dziritadi2_8,
    #dziritadi2_9,
    #dziritadi2_10,
    #dziritadi2_11,
    #dziritadi2_12,
    #dziritadi2_13,
    #dziritadi2_14,
    #dziritadi2_15,
    #dziritadi2_16,
    #dziritadi2_17,
    #dziritadi2_18,
    #dziritadi2_19,
    #dziritadi2_20,
    #dziritadi2_21,
    #dziritadi2_22,
    #dziritadi2_31,
    #dziritadi2_32,
    #dziritadi2_33,
    #dziritadi2_34,
    #dziritadi2_35,
    #dziritadi2_36,
    .dziritadi_excel,
    #parent_main,
    .informacia,
    .informacia1,
    .informacia2,
    .informacia3,
    .informacia4,
    .informacia5,
    .informacia6,
    .informacia7,
    .informacia8,
    .informacia9,
    .informacia10,
    .informacia11,
    .informacia12,
    .informacia13,
    .informacia14,
    .informacia15,
    .informacia16,
    .informacia17,
    .informacia18,
    .informacia19,
    .informacia20,
    .informacia21,
    .informacia22,
    .informacia31,
    .informacia32,
    .informacia33,
    .informacia34,
    .informacia35,
    .informacia36,
    .informaciaMain {
        width: 200px;
    }
}

@media (min-width: 500px) and (max-width: 763px) {
    #dziritadi1,
    #dziritadi2,
    #dziritadi3,
    #dziritadi4,
    #dziritadi5,
    #dziritadi6,
    #dziritadi7,
    #dziritadi8,
    #dziritadi9,
    #dziritadi10,
    #dziritadi11,
    #dziritadi12,
    #dziritadi13,
    #dziritadi14,
    #dziritadi15,
    #dziritadi16,
    #dziritadi17,
    #dziritadi18,
    #dziritadi19,
    #dziritadi20,
    #dziritadi21,
    #dziritadi22,
    #dziritadi31,
    #dziritadi32,
    #dziritadi33,
    #dziritadi34,
    #dziritadi35,
    #dziritadi36,
    #dziritadiMain,
    #dziritadiMain2,
    #dziritadiMainMunic,
    #dziritadiMainMunic2,
    #dziritadiMainMunic3,
    #dziritadi2_1,
    #dziritadi2_2,
    #dziritadi2_3,
    #dziritadi2_4,
    #dziritadi2_5,
    #dziritadi2_6,
    #dziritadi2_7,
    #dziritadi2_8,
    #dziritadi2_9,
    #dziritadi2_10,
    #dziritadi2_11,
    #dziritadi2_12,
    #dziritadi2_13,
    #dziritadi2_14,
    #dziritadi2_15,
    #dziritadi2_16,
    #dziritadi2_17,
    #dziritadi2_18,
    #dziritadi2_19,
    #dziritadi2_20,
    #dziritadi2_21,
    #dziritadi2_22,
    #dziritadi2_31,
    #dziritadi2_32,
    #dziritadi2_33,
    #dziritadi2_34,
    #dziritadi2_35,
    #dziritadi2_36,
    .dziritadi_excel,
    #parent_main,
    .informacia,
    .informacia1,
    .informacia2,
    .informacia3,
    .informacia4,
    .informacia5,
    .informacia6,
    .informacia7,
    .informacia8,
    .informacia9,
    .informacia10,
    .informacia11,
    .informacia12,
    .informacia13,
    .informacia14,
    .informacia15,
    .informacia16,
    .informacia17,
    .informacia18,
    .informacia19,
    .informacia20,
    .informacia21,
    .informacia22,
    .informacia31,
    .informacia32,
    .informacia33,
    .informacia34,
    .informacia35,
    .informacia36,
    .informaciaMain {
        width: 99px !important;
    }
    .sidepanel-title {
        font-size: 11px !important;
    }
}

@media screen and (max-width: 900px) {
    .popover-body {
        min-width: 272px;
        min-height: 199px;
        font-size: 0.7em;
        pointer-events: none;
        line-height: 11px;
    }
    .sidepanel-title {
        font-size: 1em;
    }

    .machveneblebi-right td,
    .machveneblebi-right th {
        font-size: 12px;
        width: 60px;
    }

    .machveneblebi-right {
        margin-left: 0;
    }
    #forLang {
        padding: 0px 5%;
    }
}

@media screen and (max-width: 768px) {
    .popover-body {
        min-width: 272px;
        min-height: 199px;
        font-size: 0.7em;
        pointer-events: none;
        line-height: 11px;
    }
    .click__item {
        width: unset;
    }
    #dziritadi_excel {
        width: unset;
    }
    #parent_main {
        width: 153px;
    }
    .sidepanel {
        width: 20%;
    }
    .dziritadi_excel {
        width: 153px;
        flex-wrap: wrap;
    }
    #dziritadiMain,
    #dziritadi_excel1,
    #dziritadi_excel2,
    #dziritadi_excel3,
    #dziritadi_excel4,
    #dziritadi_excel5,
    #dziritadi_excel6,
    #dziritadi_excel7,
    #dziritadi_excel8,
    #dziritadi_excel9,
    #dziritadi_excel10 {
        font-size: 0.5em;
        /* width: 150px; */
    }
    #dziritadiMain {
        width: 150px;
    }
}

@media screen and (max-width: 500px) {
    #parent_main {
        width: 24%;
    }
    .popover-body {
        min-width: 272px;
        min-height: 199px;
        font-size: 0.7em;
        pointer-events: none;
        line-height: 11px;
    }
    .popover-body p {
        margin-bottom: 3px;
    }

    .sidepanel {
        width: 22%;
    }
    #dziritadiMain,
    #dziritadi_excel1,
    #dziritadi_excel2,
    #dziritadi_excel3,
    #dziritadi_excel4,
    #dziritadi_excel5,
    #dziritadi_excel6,
    #dziritadi_excel7,
    #dziritadi_excel8,
    #dziritadi_excel9,
    #dziritadi_excel10 {
        font-size: 0.5em;
    }

    .dziritadi_excel {
        width: unset;
        flex-wrap: wrap;
    }

    .sidepanel-title,
    .informacia1 {
        font-size: 0.6em;
        flex-direction: column;
    }

    #forLang {
        display: flex;
        flex-direction: column;
        padding: unset;
        align-items: center;
    }
    #lang {
        width: 30%;
    }
    #dziritadi1,
    #dziritadi2,
    #dziritadi3,
    #dziritadi4,
    #dziritadi5,
    #dziritadi6,
    #dziritadi7,
    #dziritadi8,
    #dziritadi9,
    #dziritadi10,
    #dziritadi11,
    #dziritadi12,
    #dziritadi13,
    #dziritadi14,
    #dziritadi15,
    #dziritadi16,
    #dziritadi17,
    #dziritadi18,
    #dziritadi19,
    #dziritadi20,
    #dziritadi21,
    #dziritadi22,
    #dziritadi31,
    #dziritadi32,
    #dziritadi33,
    #dziritadi34,
    #dziritadi35,
    #dziritadi36,
    #dziritadiMain,
    #dziritadiMain2,
    #dziritadiMainMunic,
    #dziritadiMainMunic2,
    #dziritadiMainMunic3,
    #dziritadi2_1,
    #dziritadi2_2,
    #dziritadi2_3,
    #dziritadi2_4,
    #dziritadi2_5,
    #dziritadi2_6,
    #dziritadi2_7,
    #dziritadi2_8,
    #dziritadi2_9,
    #dziritadi2_10,
    #dziritadi2_11,
    #dziritadi2_12,
    #dziritadi2_13,
    #dziritadi2_14,
    #dziritadi2_15,
    #dziritadi2_16,
    #dziritadi2_17,
    #dziritadi2_18,
    #dziritadi2_19,
    #dziritadi2_20,
    #dziritadi2_21,
    #dziritadi2_22,
    #dziritadi2_31,
    #dziritadi2_32,
    #dziritadi2_33,
    #dziritadi2_34,
    #dziritadi2_35,
    #dziritadi2_36,
    .dziritadi_excel,
    #parent_main,
    .informacia,
    .informacia1,
    .informacia2,
    .informacia3,
    .informacia4,
    .informacia5,
    .informacia6,
    .informacia7,
    .informacia8,
    .informacia9,
    .informacia10,
    .informacia11,
    .informacia12,
    .informacia13,
    .informacia14,
    .informacia15,
    .informacia16,
    .informacia17,
    .informacia18,
    .informacia19,
    .informacia20,
    .informacia21,
    .informacia22,
    .informacia31,
    .informacia32,
    .informacia33,
    .informacia34,
    .informacia35,
    .informacia36,
    .informaciaMain,
    .click__item {
        width: 95px;
    }
}

@media screen and (max-width: 390px) {
    .machveneblebi-right td,
    .machveneblebi-right th {
        font-size: 8px !important;
        width: 40px !important;
    }
    .dziritadi_excel,
    #parent_main,
    #dziritadi1,
    #dziritadi2,
    #dziritadi3,
    #dziritadi4,
    #dziritadi5,
    #dziritadi6,
    #dziritadi7,
    #dziritadi8,
    #dziritadi9,
    #dziritadi10,
    #dziritadi11,
    #dziritadi12,
    #dziritadi13,
    #dziritadi14,
    #dziritadi15,
    #dziritadi16,
    #dziritadi17,
    #dziritadi18,
    #dziritadi19,
    #dziritadi20,
    #dziritadi21,
    #dziritadi22,
    #dziritadi31,
    #dziritadi32,
    #dziritadi33,
    #dziritadi34,
    #dziritadi35,
    #dziritadi36,
    #dziritadiMain,
    #dziritadiMain2,
    #dziritadiMainMunic,
    #dziritadiMainMunic2,
    #dziritadiMainMunic3,
    #dziritadi2_1,
    #dziritadi2_2,
    #dziritadi2_3,
    #dziritadi2_4,
    #dziritadi2_5,
    #dziritadi2_6,
    #dziritadi2_7,
    #dziritadi2_8,
    #dziritadi2_9,
    #dziritadi2_10,
    #dziritadi2_11,
    #dziritadi2_12,
    #dziritadi2_13,
    #dziritadi2_14,
    #dziritadi2_15,
    #dziritadi2_16,
    #dziritadi2_17,
    #dziritadi2_18,
    #dziritadi2_19,
    #dziritadi2_20,
    #dziritadi2_21,
    #dziritadi2_22,
    #dziritadi2_31,
    #dziritadi2_32,
    #dziritadi2_33,
    #dziritadi2_34,
    #dziritadi2_35,
    #dziritadi2_36,
    .informacia,
    .informacia1,
    .informacia2,
    .informacia3,
    .informacia4,
    .informacia5,
    .informacia6,
    .informacia7,
    .informacia8,
    .informacia9,
    .informacia10,
    .informacia11,
    .informacia12,
    .informacia13,
    .informacia14,
    .informacia15,
    .informacia16,
    .informacia17,
    .informacia18,
    .informacia19,
    .informacia20,
    .informacia21,
    .informacia22,
    .informacia31,
    .informacia32,
    .informacia33,
    .informacia34,
    .informacia35,
    .informacia36,
    .informaciaMain {
        width: 73px !important;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 375px) {
    .machveneblebi-right td,
    .machveneblebi-right th {
        font-size: 8px;
        width: 40px;
    }
    .dziritadi_excel,
    #parent_main,
    #dziritadi1,
    #dziritadi2,
    #dziritadi3,
    #dziritadi4,
    #dziritadi5,
    #dziritadi6,
    #dziritadi7,
    #dziritadi8,
    #dziritadi9,
    #dziritadi10,
    #dziritadi11,
    #dziritadi12,
    #dziritadi13,
    #dziritadi14,
    #dziritadi15,
    #dziritadi16,
    #dziritadi17,
    #dziritadi18,
    #dziritadi19,
    #dziritadi20,
    #dziritadi21,
    #dziritadi22,
    #dziritadi31,
    #dziritadi32,
    #dziritadi33,
    #dziritadi34,
    #dziritadi35,
    #dziritadi36,
    #dziritadiMain,
    #dziritadiMain2,
    #dziritadiMainMunic,
    #dziritadiMainMunic2,
    #dziritadiMainMunic3,
    #dziritadi2_1,
    #dziritadi2_2,
    #dziritadi2_3,
    #dziritadi2_4,
    #dziritadi2_5,
    #dziritadi2_6,
    #dziritadi2_7,
    #dziritadi2_8,
    #dziritadi2_9,
    #dziritadi2_10,
    #dziritadi2_11,
    #dziritadi2_12,
    #dziritadi2_13,
    #dziritadi2_14,
    #dziritadi2_15,
    #dziritadi2_16,
    #dziritadi2_17,
    #dziritadi2_18,
    #dziritadi2_19,
    #dziritadi2_20,
    #dziritadi2_21,
    #dziritadi2_22,
    #dziritadi2_31,
    #dziritadi2_32,
    #dziritadi2_33,
    #dziritadi2_34,
    #dziritadi2_35,
    #dziritadi2_36,
    .informacia,
    .informacia1,
    .informacia2,
    .informacia3,
    .informacia4,
    .informacia5,
    .informacia6,
    .informacia7,
    .informacia8,
    .informacia9,
    .informacia10,
    .informacia11,
    .informacia12,
    .informacia13,
    .informacia14,
    .informacia15,
    .informacia16,
    .informacia17,
    .informacia18,
    .informacia19,
    .informacia20,
    .informacia21,
    .informacia22,
    .informacia31,
    .informacia32,
    .informacia33,
    .informacia34,
    .informacia35,
    .informacia36,
    .informaciaMain {
        width: 73px !important;
    }
}

@media screen and (max-width: 300px) {
    .dziritadi_excel,
    #parent_main,
    #dziritadi1,
    #dziritadi2,
    #dziritadi3,
    #dziritadi4,
    #dziritadi5,
    #dziritadi6,
    #dziritadi7,
    #dziritadi8,
    #dziritadi9,
    #dziritadi10,
    #dziritadi11,
    #dziritadi12,
    #dziritadi13,
    #dziritadi14,
    #dziritadi15,
    #dziritadi16,
    #dziritadi17,
    #dziritadi18,
    #dziritadi19,
    #dziritadi20,
    #dziritadi21,
    #dziritadi22,
    #dziritadi31,
    #dziritadi32,
    #dziritadi33,
    #dziritadi34,
    #dziritadi35,
    #dziritadi36,
    #dziritadiMain,
    #dziritadiMain2,
    #dziritadiMainMunic,
    #dziritadiMainMunic2,
    #dziritadiMainMunic3,
    #dziritadi2_1,
    #dziritadi2_2,
    #dziritadi2_3,
    #dziritadi2_4,
    #dziritadi2_5,
    #dziritadi2_6,
    #dziritadi2_7,
    #dziritadi2_8,
    #dziritadi2_9,
    #dziritadi2_10,
    #dziritadi2_11,
    #dziritadi2_12,
    #dziritadi2_13,
    #dziritadi2_14,
    #dziritadi2_15,
    #dziritadi2_16,
    #dziritadi2_17,
    #dziritadi2_18,
    #dziritadi2_19,
    #dziritadi2_20,
    #dziritadi2_21,
    #dziritadi2_22,
    #dziritadi2_31,
    #dziritadi2_32,
    #dziritadi2_33,
    #dziritadi2_34,
    #dziritadi2_35,
    #dziritadi2_36,
    .informacia,
    .informacia1,
    .informacia2,
    .informacia3,
    .informacia4,
    .informacia5,
    .informacia6,
    .informacia7,
    .informacia8,
    .informacia9,
    .informacia10,
    .informacia11,
    .informacia12,
    .informacia13,
    .informacia14,
    .informacia15,
    .informacia16,
    .informacia17,
    .informacia18,
    .informacia19,
    .informacia20,
    .informacia21,
    .informacia22,
    .informacia31,
    .informacia32,
    .informacia33,
    .informacia34,
    .informacia35,
    .informacia36,
    .informaciaMain {
        width: 65px;
    }

    .sidepanel-title,
    .informacia1 {
        font-size: 0.5em;
    }

    .machveneblebi-right td,
    .machveneblebi-right th {
        font-size: 8px;
        width: 60px;
    }
}

@media screen and (min-width: 500px) {
    #burger__btn {
        display: none;
    }
}
